.lefttree {
  display: inline-block;
  overflow: hidden;
  overflow-y: auto;
  width: 20rem;
  height: 100%;
  vertical-align: top;
}
.lefttree .el-tree {
  padding: 10px 5px;
}
.lefttree::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 7px;
  /* 高宽分别对应横竖滚动条的尺寸 */
  height: 7px;
}
.lefttree::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: .5rem;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #dcdfe6;
}
.lefttree::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  background: white;
}
.rightcont {
  display: inline-block;
  overflow: hidden;
  overflow-y: auto;
  width: calc(80%);
  height: 100%;
  border-left: 1px solid #eaecef;
  box-sizing: border-box;
  vertical-align: top;
}
.rightcont .admincont {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}
.rightcont .treecont {
  max-width: 740px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}
